# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Project outputs
.cache/
out/
charts/

# Distribution files
build/
dist/
*.egg-info/

# IDE/editor
.idea/
.vscode/

# Logs
nexus.log

