pandas>=1.5
numpy>=1.23
yfinance>=0.2
pyarrow>=10
apscheduler>=3.10
matplotlib>=3.6
markdown>=3.4
scikit-learn>=1.5
xgboost>=2.1
# extras optionnels :
# fastapi>=0.115
# uvicorn>=0.32
# streamlit>=1.40
# plotly>=5.24
